<li id="shown_tweet_<%= tweet.id %>"><%= tweet.user.username %> tweeted:
<%= tweet.text %>

<% if tweet.user == current_user %>
 |
    <%= link_to "Edit", edit_tweet_path(tweet), remote: true %>
 |
  <%= link_to "(remove)", tweet_path(tweet), :method => :delete, remote: true %>
<% end %>
</li>
